.lp-banner{
    background-image: url("../images/banner-principal.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lp-banner h1{
    color:#FFF;
    text-align: center;
}
.lp-banner-details {
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #fff;
    padding-top: 0em;
    padding-left: 0em;
    max-height: 100vh;
    height: 100vh;
    text-align: center;
    position: relative;
}
.lp-sub-title{
    font-size: 22px;
    color: #FFF;
}
.lp-sub-title-2{
    font-size: 21px;
    color: #FFF;
    margin-bottom: 2em;
    text-align: center;
    padding: 0px 1em;
    margin-top: 1em;
}
.lp-banner-details h1{
    font-size: 40px;
}
.lp-banner-details .texto-destaque{
    text-shadow: 0px 0px 32px #ef5826;
}
.lp-cta{
    text-align: center;
    display: inline-block;
    width: 58%;
    height: 4em;
    margin-bottom: 2em;
    margin-top: 3em;
    fill: #ef5826;
    background: #ef5826;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #ef5826;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 20px 0px #ef5826;
    padding: 0.9em 0;
    cursor: pointer;
}
.lp-cta a {
    text-decoration: none;
    width: auto;
    height: auto;
    color: #FFF;
    position: relative;
    overflow: hidden;
    text-align:center;
    font-weight: 600;
}
.lp-cta span{
    font-size: 20px;
}
.lp-cta:hover{
    color:#FFF;
    background:#ef5826;
    box-shadow: 0px 0px 37px 0px #ef5826;
}
.lp-work {
    color:#FFF;
    top:-20%
}
.lp-service-card{
    box-shadow: 0px 0px 37px 0px #ef5826;
    border: 1px solid #ef5826;
    margin-bottom: 1.5em;
    cursor: pointer;
}
.lp-service-card:hover{
    box-shadow: 0px 0px 37px 0px #ef5826;
}
.lp-list-cards{
    padding: 1em;
}
.lp-service-card h5{
    font-size: 25px;
}
.lp-service-card .card-text{
    font-size: 18px;
    color: darkgray;
}
.lp-service-card:hover>p.card-text{
    color:#FFF !important;
}
.lp-service-title{
    margin-bottom: 2em;
    text-align: center;
}

.container-lp{
    padding-bottom: 11em;
}
.service-content{
    margin-bottom: 5em;
}
.lp-perfil-card{
    height: 4em;
    box-shadow: 0px 0px 37px 0px #ef5826;
    border: 1px solid #ef5826;
    cursor: pointer;
    background: #ef5826;
    margin-bottom: 1em;
}
.lp-perfil-card h3{
    color:#FFF;
}
.lp-perfil-card:hover{
    color:#FFF;
    background:#ef5826;
    box-shadow: 0px 0px 37px 0px #ef5826;
}
.lp-cta-big > div{
    text-align: center;
    display: inline-block;
    height: 4em;
    fill: #ef5826;
    background: #ef5826;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #ef5826;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 20px 0px #ef5826;
    padding: 0.9em 0;
    cursor: pointer;
    width: 80%;
}
.lp-cta-big>div a{
    text-decoration: none;
    width: auto;
    height: auto;
    color: #FFF;
    position: relative;
    overflow: hidden;
    text-align:center;
    font-weight: 600;
    font-size: 25px;
}
.lp-cta-big>div:hover{
    box-shadow: 0px 0px 37px 0px #ef5826;
}
.lp-cta-big{
    text-align: center;
}
.service-content{
    margin-top: 8em;
}
.foguete{
    width: 20em;
    position: absolute;
    top: 65%;
    right: 0;
    bottom:0;
    transform: rotate(-10deg);
    -webkit-animation:spin 4s infinite;
    -moz-animation:spin 4s infinite;
    animation:spin 4s infinite;
    position: fixed;
    opacity: .4;
}

@-moz-keyframes spin { 100% { top:-22%; right: 22%;} }
@-webkit-keyframes spin { 100% { top:-22% } }
@keyframes spin { 100%{ top:-32%;right: 52%; }}

@media (min-width: 992px){
    .title-content{
        width: 60%;
        margin-left: -26em;
    }
    .lp-perfil-card:not(:last-child){
        margin-right: 2em;
    }
    .lp-perfil-card{
        width: 32%;
        text-align: center;
    }
    .lp-list-cards{
        display: flex;
    }
    .lp-service-title {
        margin-bottom: 1em;
        text-align: center;
    }
    .lp-service-card {
        box-shadow: 0px 0px 37px 0px #ef5826;
        border: 1px solid #ef5826;
        margin-bottom: 1.5em;
        width: 33%;
    }
    .lp-service-card:not(:last-child) {
        margin-right: 1em;
    }

    .lp-banner-details h1 {
        font-size: 61px;
    }
    .lp-sub-title {
        font-size: 25px;
        color: #FFF;
    }
    .service-content{
        margin-top: 10em;
    }

    .lp-sub-title-2 {
        font-size: 28px;
        color: #FFF;
        margin-bottom: 2em;
        text-align: center;
        padding: 0px 1em;
        margin-top: 1em;
    }

    .foguete{
        width: 23em;
        position: absolute;
        top: 35%;
        right: 22%;
        transform: rotate(-45deg);
        -webkit-animation:spin 4s infinite;
        -moz-animation:spin 4s infinite;
        animation:spin 4s infinite;
        position: fixed;
        opacity: .5;
    }
    
    @-moz-keyframes spin { 100% { top:-22%; right: 22%;} }
    @-webkit-keyframes spin { 100% { top:-22% } }
    @keyframes spin { 100%{ top:-32%;right: 52%; }}
}
